.menu-icon div {
    height: 5px;
    background: white;
    margin: 5px 0;
    border-radius: 24px;
    transition: .3s;
}

.menu-icon {
    display: none;
    margin: 1em;
    width: 40px;
    float: right;
    cursor: pointer;
}

.one {
    width: 40px;
}

.two {
    width: 26px;
}

.three {
    width: 32px;
}

.menu-icon:hover div {
    width: 40px;
}

.logo {
    position: fixed;
    float: left;
    margin: 12px 36px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    font: 400 40px/1.2 'Lobster Two', Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
}

nav {
    position: fixed;
    display: block;
    height: 28%;
    width: 100%;
    background: url('/static/imgs/a-navbar.png');
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .3s;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    transition: 1s;
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px 20px 140px 20px;
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;    
}

nav ul li:hover a {
    color: black;
    text-decoration: none;
}

@media(max-width: 768px) {
    .menu-icon {
        display: block;
    }
    .logo {
        position: fixed;
        top: 0;
        margin-left: 40%;
        color: white;
    }
    .wrapper::after {
        display: none;
    }
    nav {
        height: 12%;
        background: linear-gradient(90deg, #f0027f, #75489f);
    }
    nav ul {
        max-height: 10px;
        background: linear-gradient(90deg, #f0027f, #75489f);
    }
    .showing {
        display: none;
        max-height: 20em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
        color: white;
        background: linear-gradient(90deg, #f0027f, #75489f);
    }
    nav ul li a {
        text-decoration: none;
        font-size: 20px;
        color: #fff;
    }
}