<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>

    <!-- custom designed navbar -->

    <nav>
        <div class="menu-icon">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
        <p class='logo'>Galleria</p>
        <div class="menu">
            <ul class='hidden'>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Category</a>
                </li>
                <li>
                    <a href="">Location</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- end of navbar -->

</body>

</html>